.header-menu {
  height: 460px;
  min-width: auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
.header-menu__form {
  height: 237px;
  background-position: center top;
  font-family: "Open Sans";
}
.header-menu__h1 {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  width: 80%;
  margin: 27px auto 0;
  color: #ffffff;
}
