/*header-menu/header-menu.less*/

.header-menu {
  height: 720px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, center bottom;
  &_photo {
    height: 497px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
  }
}

@media screen and (min-width: 660px) {
  .header-menu {
    height: 730px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 88.758% bottom, center bottom;
    &_photo {
      height: 694px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-position: center top;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    height: 392px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}
