/*footer-social/footer-social.less*/

.footer-social {
  display: none;
  &_photo,
  &_form {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto 41px;
  }
}
.footer-social__button {
  font-size: 0;
  border: 2px solid #e9eaec;
  &_twitter {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #e9eaec;
    border-radius: 50%;
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &_twitter:hover {
    border: 2px solid #273545;
  }
  &_facebook {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #e9eaec;
    border-radius: 50%;
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &_facebook:hover {
    border: 2px solid #273545;
  }
  &_youtube {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #e9eaec;
    border-radius: 50%;
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &_youtube:hover {
    border: 2px solid #273545;
  }
}

@media screen and (min-width: 660px) {
  .footer-social {
    display: flex;
    flex-basis: 178px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .footer-social__links {
    width: 180px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social__links {
    padding-left: 77px;
  }
  .footer-social__button_facebook {
    margin: 0 10px 0 10px;
  }
}
