
.main__h1 {
  display: none;
}
.main {
  &__promo-photo {
  padding-bottom: 300px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 463px;
  }
}
.main__slogan {
  font-size: 24px;
  color: #283645;
  font-weight: 300;
  text-align: center;
}
.main-container__article {
  text-align: center;
  margin-bottom: 30px;
  color: #283645;
}
.main-container__h1 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.main-container__body {
  font-size: 14px;
  font-weight: 400;
}
.main__promo-photo {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(40, 54, 69);
  text-align: center;
  width: 72.5%;
  margin: 0 auto;
  padding-top: 45px;
  margin-bottom: 49px;
}
