/*wrapper/wrapper.less*/

.wrapper {
  width: 87.5%;
  margin: 0 auto;
}

@media screen and (min-width: 660px) {
  .wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 960px;
    margin: 0 auto;
    &_desktop {
      width: 940px;
      margin: 0 auto;
    }
    &_until-desk {
      width: 150px;
    }
  }
}
