.wrapper {
    width: 87.5%;
    margin: 0 auto;
}
.wrapper_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 660px) {
  .wrapper {
    width: 93.9393%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 960px;
  }
}
