/*form/form.less*/

@media screen and (min-width: 660px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form__name {
    border: none;
    order: 0;
  }
  .form__app {
    border: none;
    order: 1;
  }
  .form__contact {
    border: none;
    order: 2;
  }
  .form__progress {
    border: none;
    order: 3;
  }
  .form__message {
    border: none;
    order: 4;
  }
  .form__input {
    display: flex;
    justify-content: space-between;
    order: 5;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form__name {
    width: 400px;
    order: 0;
  }
  .form__app {
    width: 400px;
    order: 1;
  }
  .form__contact {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: space-between;
    &_par {
      display: flex;
      flex-direction: column;
    }
  .form__dates {
      order: 1;
      &_message {
        width: 100%;
      }
    }
  .form__input-button {
      order: 0;
   }
  }
  .form__progress {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    &_legend-check {
      width: 100%;
    }
    &_box {
      flex-basis: 260px;
    }
  }
  .form__message {
    flex-basis: 100%;
  }
  .form__input {
    flex-basis: 100%;
    justify-content: space-between;
  }
}
