.footer{
  text-align: center;
}
.footer__h2 {
  font-size: 24px;
  color: #283645;
  font-weight: 300;
  text-align: center;
}
.footer__title {
  font-size: 18px;
  font-weight: 700;
}
.footer__number {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}
