.header {
  min-width: auto;
  background-color: #293646;
  &-photo,
  &-form {
    height: 237px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: center top;
  }
}
.header__h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  width: 80%;
  margin: 27px auto 0;
}

@media screen and (min-width: 660px) {
  .header {
    position: relative;
  }
}
