/*header/header.less*/

.header {
  min-width: auto;
  background-color: #293646;
}
.header__h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
  &_noindex{
    font-family: "Open Sans";
    padding-top: 283px;
    line-height: 31px;
    font-weight: 300;
  }
}

@media screen and (min-width: 660px) {
  .header {
    position: relative;
    &_photo {
      height: 694px;
    }
  }
  .header__h1 {
    font-size: 50px;
    font-weight: 300;
    &_noindex {
      padding-top: 328px;
      line-height: 59px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: auto;
  }
  .header_photo {
    height: 392px;
  }
  .header__h1_noindex {
    width: 355px;
    font-size: 50px;
    font-weight: 300;
  }
}
